easy_admin:
  site_name: Aqua<i>Note</i>

  design:
    brand_color: '#819b9a'
    templates:
      field_id: admin/fields/_id.html.twig
    form_theme:
      - horizontal
      - easy_admin/_form_theme.html.twig

  assets:
    css:
      - 'css/custom_backend.css'
    js:
      - 'https://unpkg.com/snarkdown@1.2.2/dist/snarkdown.umd.js'
      - 'js/custom_backend.js'

  list:
    title: List of %%entity_label%%
    actions: ['show']

  entities:
    Genus:
      class: AppBundle\Entity\Genus
      label: Genuses
      help: Genuses are not covered under warranty!
      list:
        help: Do not feed!
        actions:
          - {name: edit, icon: pencil, label: EditZ}
          - {name: show, icon: info-circle, label: 'sHoW'}
        fields:
          - id
          - name
          - isPublished
          - { property: firstDiscoveredAt, format: Y M, label: Discovered }
          - funFact
          - { property: speciesCount, format: '%b' }
        sort: [name, ASC]
      form:
        fields:
          - { property: id, type_options: { disabled: true }}
          - name
          - speciesCount
          - { property: funFact, type: textarea, css_class: js-markdown-input }
          - isPublished
          - { property: firstDiscoveredAt, type_options: { widget: single_text }}
          - { property: subFamily, type: easyadmin_autocomplete }
          -
            property: genusScientists
            type: text
            type_options:
              mapped: false
              attr: { class: 'js-genus-scientist-field' }
      new:
        fields:
          - -id
      edit:
        fields:
          - {property: slug, help: 'Unique auto-generated value', type_options: { disabled: true }}
      search:
        fields: [name]
        help: ~

    GenusNote:
      class: AppBundle\Entity\GenusNote
      label: Genus Notes
      list:
        title: List of notes
        fields:
          - id
          - username
          - { property: userAvatarFileName, type: image, label: Avatar, base_path: /images/ }
          - createdAt
          - genus
        sort: [genus.name, ASC]

    SubFamily:
      class: AppBundle\Entity\SubFamily
      list:
        actions: ['-show']
      disabled_actions: ['show']

    User:
      class: AppBundle\Entity\User
      list:
        fields:
          - id
          - { property: email, type: email }
          - { property: isScientist, type: boolean }
          - { property: fullName, template: _field_user_full_name.html.twig }
          - { property: avatarUri, type: url }
      form:
        fields:
          - email
          - isScientist
          - { property: fullName, type: text, help: First then last}
#          - { property: avatarUri, type: image }
          - { property: avatarUri }
          - universityName

    GenusHorde:
      class: AppBundle\Entity\Genus
      label: HORDE of genuses !!!
      list:
        dql_filter: 'entity.speciesCount > 50000 and entity.isPublished = true'
        sort: speciesCount
        help: Run for your life !
      search:
        dql_filter: 'entity.speciesCount > 50000'

