easy_admin:
  site_name: Aqua<i>Note</i>

  design:
    brand_color: '#819b9a'

  assets:
    css: ['css/custom_backend.css']

  list:
    title: List of %%entity_label%%
    actions: ['show']

  entities:
    Genus:
      class: AppBundle\Entity\Genus
      label: Genuses
      help: Genuses are not covered under warranty!
      list:
        help: Do not feed!
        actions:
          - {name: edit, icon: pencil, label:EditZ}
          - {name: show, icon: info-circle, label: ''}
        fields:
          - id
          - name
          - isPublished
          - { property: firstDiscoveredAt, format: Y M, label: Discovered }
          - funFact
          - { property: speciesCount, format: '%b' }
      search:
        fields: [name]
        help: ~

    GenusNote:
      class: AppBundle\Entity\GenusNote
      label: Genus Notes
      list:
        title: List of notes
        fields:
          - id
          - username
          - { property: userAvatarFileName, type: image, label: Avatar, base_path: /images/ }
          - createdAt
          - genus

    SubFamily:
      class: AppBundle\Entity\SubFamily
      list:
        actions: ['-show']
      disabled_actions: ['show']

    User:
      class: AppBundle\Entity\User
      list:
        fields:
          - id
          - { property: email, type: email }
          - { property: isScientist, type: boolean }
          - fullName
          - { property: avatarUri, type: url }